<div class="table-wrapper" (scroll)="onTableScroll($event)" #tableWrapperRef>
  <table mat-table
         [dataSource]="dataSource"
         multiTemplateDataRows
  >
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">Description</div>
        <div class="input-wrapper"><input matInput placeholder="Search by description" type="text" /></div>
      </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element">
          <a [routerLink]="'/trip/' + element.id" class="item-link">{{ element.description }}</a>
          <div class="reservations">Reservations: 1</div>
        </ng-container>
      </td>
    </ng-container>
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">Start Date</div>
        <div class="input-wrapper"><input matInput placeholder="start - end" type="date" /></div>
      </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element">
          {{ element.startDate }}
        </ng-container>
      </td>
    </ng-container>
    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">End Date</div>
        <div class="input-wrapper"><input matInput placeholder="start - end" type="date" /></div>
      </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element">
          {{ element.endDate }}
        </ng-container>
      </td>
    </ng-container>
    <ng-container matColumnDef="createdOn">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">
          <span>Created On</span><span><mat-icon>arrow_downward</mat-icon></span>
        </div>
      </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element">
          <div class="created-on">
            {{ element.createdOn.slice(0, 12) }} <br/>
            {{ element.createdOn.slice(12, 24) }}
          </div>
        </ng-container>
      </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">Status</div>
      </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="element">
          <div class="status-button">
            {{ element.status }}
          </div>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
        <ng-container *ngIf="element">
          <div class="element-detail"
               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="element-description">
              <app-trip-info [tripInfo]="element"></app-trip-info>
              <div class="arrow-forward"><mat-icon>arrow_forward</mat-icon></div>
              <app-trip-info [tripInfo]="element"></app-trip-info>
            </div>
          </div>
        </ng-container>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        <div class="table-header">Actions</div>
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        (click)="expandedElement = expandedElement === element ? null : element"
      >
        <div class="expand-wrapper">
          <mat-icon>{{ (expandedElement === element && element !== null) ? 'expand_less' : 'expand_more' }}</mat-icon>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay"
        class="element-row"
        [class.example-expanded-row]="expandedElement === element && element !== null"
    >
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row" (click)="selection.toggle(row)"></tr>
  </table>
  <div class="loading-wrapper" *ngIf="isLoading">
    <mat-progress-bar mode="query"></mat-progress-bar>
  </div>
</div>
