.table-wrapper {
  height: 100%;
  overflow-y: auto;
  border-radius: 5px;
  background: #fff;
  padding: 10px;
}
table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.element-description {
  padding: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}

::ng-deep {
  .mat-row {
    th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
      border-bottom-width: 10px;
      border-color: #fff;
    }
  }
  .element-row {
    outline: 1px solid #eaeaea;
    border-radius: 5px;
  }
}

.expand-wrapper {
  padding-top: 10px;
  cursor: pointer;
  text-align: center;
}

.loading-wrapper {
  padding: 20px 50px;
  z-index: 1000;
  position: absolute;
  width: calc(100% - 100px);
  bottom: 0;
  left: 0;
  background: #fff;
}

.input-wrapper {
  margin-right: 40px;
  padding-bottom: 10px;
  input {
    height: 20px;
    padding: 5px;
    width: 100%;
    border: 1px solid #eaeaea;
    border-radius: 3px;
  }
}

.table-header {
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.item-link {
  font-weight: bold;
  text-decoration: none;
}

.reservations, .created-on {
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.54);
}

.status-button {
  background: #BBDEFB;
  padding: 5px 30px;
  border-radius: 20px;
  text-align: center;
}

::ng-deep {
  .example-expanded-row + .detail-row {
    outline: 1px solid #eaeaea;
  }
}

.element-description {
  display: flex;
  flex-direction: row;
  position: relative;
}

.arrow-forward {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #1a237e;
  background: #ffffff;
  z-index: 100;
  left: 226px;
  top: 60px
}
