<div class="table-page">
  <div class="table-page__control">
    <div class="table-page__header-wrapper">
      <div class="table-page__header-wrapper_header">Trips</div>
      <div class="table-page__header-wrapper_breadcrumbs">Dashboard / My Trips</div>
    </div>
    <div class="table-page__table-controls">
      <button mat-button mat-raised-button color="primary"> + Add Trip </button>
    </div>
  </div>
  <div class="table-page__table">
    <app-virtual-scroll-table></app-virtual-scroll-table>
  </div>
</div>
